* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
header {
  display: flex;
  background-color: darkgray;
}
body {
  background-image: url(https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg);
}
main {
  background-image: url(https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg);
  height: 100vh;
}

footer {
  background-color: darkgray;
  height: 65px;
  width: auto;
  display: flex;
}

.footer-image {
  width: 30px;
  height: 30px;
}
.link-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0px;
  flex-direction: column;
}

#main-image {
  border-radius: 7px;
}

p {
  font-weight: bolder;
}

a:hover {
  background-color: dimgrey;
  color: aliceblue;
}

a {
  color: white;
}

.alternativo {
  background-color: darkslategrey;
  display: flex;
}
